<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Who are the top game companies?</h2>
    </div>
    <div class="col-lg-10 mx-auto"><div id="Pmodules1" class="pmodules"></div></div>
    
    <div class="col-lg-12 text-center">
    <h2 class="section-heading text-uppercase">Which platform will you choose?</h2>
      </div>
      <div class="col-lg-8 mx-auto"><div id="Pmodules2" class="pmodules"></div></div>
      
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Maybe some recommendation?</h2>
      </div>
      <div class="col-lg-5 mx-auto"><div id="Pmodules3" class="pmodules"></div></div>
      <!-- <div w3-include-html="./assets/modules/scatter/index.html"></div> -->
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">What kind of the game do you like?</h2>
      </div>
      <!-- <div class="col-lg-5 mx-auto"><div id="Pmodules4" class="pmodules"> -->
      <div id="top-bar" style = "text-align: center; width: 100%;">
        <div class="btn-group">
            <button id="selected" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                temp
            </button>
            <div class="dropdown-menu dropdown-menu-right" id="drop-down">

            </div>
        </div>
      </div>
      <div id="canvas" style="position: relative;"></div>
      </div></div>

</div>


<script type="module">
    import {Runtime, Library, Inspector} from "./assets/modules/bubble-chart/runtime.js";
    import define from "./assets/modules/CircleChart/index.js";
    // import race from "./assets/modules/bar-chart-race/index.js";
    import bubble from "./assets/modules/bubble-chart/index.js";
    import collide__ from "./assets/modules/collision-detection/index.js";
    
    const runtime = new Runtime();
    const CircleChart = runtime.module(define, Inspector.into(document.body));
    const bubble_chart = runtime.module(bubble, Inspector.into(document.body));
    // const bar_chart_race = runtime.module(race, Inspector.into(document.body));
    const collide = runtime.module(collide__, Inspector.into(document.body));
</script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="game-name"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div  style="text-align: center">
              <img src = "" id="img-src" style="width: 18rem; height: 18rem;">
          </div>

          <p id="modal_user_score"></p>
          <p id="modal_meta_score"></p>
          <p id="modal_platform"></p>
          <p id="modal_developer"></p>
          <span>
              <h6>Despcription</h6>
              <div style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; width: 26rem;">
                  <p id="description" width="26rem"></p>
              </div>
          </span>
      </div>
      <div class="modal-footer">
          <a href="" target="_blank">
              <button id="ref" type="button" class="btn btn-primary">More Info</button>
          </a>
      </div>
    </div>
  </div>
</div>
