// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.pmodules {
  display: flex;
  justify-content: center;
  height: 900px;
  -moz-box-flex: 1; /*中间div宽度自适应屏幕 兼容Firefox*/
  -webkit-box-flex: 1;/*中间div宽度自适应屏幕 兼容Chrome、Safari*/
}

.pmodules2 {
  display: flex;
  justify-content: center;
  height: 400px;
  -moz-box-flex: 1; /*中间div宽度自适应屏幕 兼容Firefox*/
  -webkit-box-flex: 1;/*中间div宽度自适应屏幕 兼容Chrome、Safari*/
}
div.center{
  text-align: center;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#pcm-c {overflow: visible !important; }
div.padding{
  padding-top: 200px;
  padding-bottom: 40px;
}
#containerM1 {  /*把盒布局变成弹性盒布局*/
  display: -moz-box; /* 兼容Firefox */
  display: -webkit-box; /* 兼容Chrome、Safari */
  padding: 10px;
  height: 900px;
body.bgBody{
  background-image: "../img/epfl.jpg"
}
  

  h2{
    text-align: center;
    font-family: "Comic sans MS";
  }

  p.inset{
    border-radius: 10px;
    border-style: inset; 
    background-color: white;
    display: inline;
    font-size:20px;
  }
  p.paraph{
    border-radius: 10px;
    display: inline;
    font-size:15px;
  }
  p.left{
    display: inline;
    font-size:20px;
    border-left: 6px solid red;
  }
  p.normal1{
    margin: 1%;
    border-radius: 10px;
    border-style: inset;
    font-size:15px;
    background-color: white;
  }
  p.game_genre{
    display: inline;
    font-size:20px;
    font-family: Arial;
    font-weight: 100;
  }
  p{
    padding-left: 1ch;
    padding-right: 1ch;
    font-family: "Comic sans MS";
  }
}

p.text_mine{
  text-align: left;
  font-size:25px;

  padding-bottom: 40px;
}

#leftM1 {
  border-style: inset;
  width: 350px;/*左边div宽度固定*/
  padding: 0px;
  background-color: rgba(129, 129, 129, 0.249);
  text-align: justify;

  div.scroller0 {
    border-style: inset;
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }
  
}
#centerM1 {
  border-style: inset;
  -moz-box-flex: 1; /*中间div宽度自适应屏幕 兼容Firefox*/
  -webkit-box-flex: 1;/*中间div宽度自适应屏幕 兼容Chrome、Safari*/
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.435);
}
#rightM1 {
  text-align: justify;
  border-style: inset;
  width: 500px; /*右边div宽度固定*/
  padding: 8px;
  background-color: rgba(50, 205, 50, 0.105); 

  div.scroller0 {
    border-style: inset;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }

  div.scroller1 {
    width: 100%;
    height: 50px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }
  div.scroller1::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  
}

  table{
    margin: 8px;

    img{
      border-width: 5pt;
      width: 110px;
      height: 160px;
      border-style: outset;
      border-radius: 10px;
    }
    p{
      font-size:15px;
      text-align: center;
    }
  }
}
#left,#center,#right {
  
  box-sizing:border-box; /* 兼容IE、Opera 以及 Chrome */
  -moz-box-sizing: border-box; /* 兼容Firefox */
  -webkit-box-sizing: border-box;/* 兼容Safari */
}


/*Module 3: Recommendation System*/

#container_3 { 
  display: -moz-box;
  display: -webkit-box;
  h2{
    text-align: center;
    font-family: "Comic sans MS";
  }

  p.inset{
    padding-right: 1ch;
    border-radius: 10px;
    border-style: inset; 
    background-color: white;
    display: inline;
    font-size:20px;
  }
  p.left{
    display: inline;
    font-size:20px;
    border-left: 6px solid red;
  }
  p{
    padding-left: 1ch;
    font-family: "Comic sans MS"
  }
}
#left_3 {
  width: 500px;
  height: 850px;
  padding: 8px;
  border-style: inset;
  background-color: rgba(129, 129, 129, 0.249);
}
#center_3 {
  -moz-box-flex: 1;
  -webkit-box-flex: 1; 
  padding: 0px;
  height: 850px;
  background-color: rgba(255, 255, 255, 0.435);
}
#right_3 {
  text-align: justify;
  border-style: inset;
  width: 500px; /*右边div宽度固定*/
  height: 850px;
  padding: 8px;
  background-color: rgba(50, 205, 50, 0.105); 

  div.scroller0 {
    border-style: inset;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }

  div.scroller1 {
    width: 100%;
    height: 50px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }
  div.scroller1::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  
  }

  table{
    margin: 8px;
	#icon_3{
      border-width: 5pt;
      width: 120px;
      height: 150px;
      border-style: outset;
      border-radius: 5px;
	}
    img{
      border-width: 5pt;
      width: 80px;
      height: 110px;
      border-style: outset;
      border-radius: 5px;
    }
    p{
      font-size:15px;
      text-align: center;
    }
  }
}
#left_3,#center_3,#right_3 {
  box-sizing:border-box; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400);
    
.arc1 {
    width: 160px;
    height: 160px;
    background: #00a0db;
    -webkit-transform-origin: -31% 61%;
    margin-left: -30px;
    margin-top: 20px;
    -webkit-transform: translate(-54px,50px);
    -moz-transform: translate(-54px,50px);
    -o-transform: translate(-54px,50px);
}
.arc2 {
    width: 160px;
    height: 160px;
    background: #00a0db;
    -webkit-transform: skew(45deg,0deg);
    -moz-transform: skew(45deg,0deg);
    -o-transform: skew(45deg,0deg);
    margin-left: -180px;
    margin-top: -90px;
    position: absolute;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
}

.arc-container:hover .arc2 {
    margin-left: -50px;
    -webkit-transform: skew(-20deg,0deg);
    -moz-transform: skew(-20deg,0deg);
    -o-transform: skew(-20deg,0deg);
	
}

.arc-wrapper {
    width: 150px;
    height: 150px;
    border-radius:150px;
    background: #424242;
    overflow:hidden;
    left: 180px;
    top: 50px;
    position: absolute;
}
.arc-hider {
	left: 180px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 50px solid #e9e9e9;
    position:absolute;
    z-index:5;
    box-shadow:inset 0px 0px 20px rgba(0,0,0,0.7);
}

.arc-inset  {
    font-family: "Josefin Sans";
    font-weight: 100;
    position: absolute;
    font-size: 413px;
    margin-top: -64px;
    z-index: 5;
    left: 150px;//left: 30px;
    line-height: 327px;
    height: 280px;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0.2));
}
.arc-lowerInset {
    font-family: "Josefin Sans";
    font-weight: 100;
    position: absolute;
    font-size: 413px;
    margin-top: -64px;
    z-index: 5;
    left: 150px;//left: 30px;
    line-height: 327px;
    height: 280px;
    color: white;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,1));
}
.arc-overlay {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(bottom, rgb(217,217,217) 10%, rgb(245,245,245) 90%, rgb(253,253,253) 100%);
    background-image: -o-linear-gradient(bottom, rgb(217,217,217) 10%, rgb(245,245,245) 90%, rgb(253,253,253) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(217,217,217) 10%, rgb(245,245,245) 90%, rgb(253,253,253) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(217,217,217) 10%, rgb(245,245,245) 90%, rgb(253,253,253) 100%);

    padding-left: 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 100px;
    font-family: sans-serif;
    font-weight: 400;
    text-shadow: 0 1px 0 #fff;
    font-size: 22px;
    border-radius: 100px;
    position: absolute;
    z-index: 5;
    top: 75px;
    left: 205px;//left: 75px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.7);
}
.arc-container {
    position: relative;
    height: 250px;
    width: 250px;
}
/*Module 3: Recommendation System*/
